:root{
    /* GENERAL-COLORS */
    --dark-color:#222222;
    --ligth-red-color:#FFA3A3;
    --red-color:#FC5252;
    --blue-color:#381DDB;

    /* ADDITIONAL-COLORS */
    --grey-color:#E0E0E0;
    --orange-color:#DB841D;
    --braun-color:#AA6550;
    --pink-color:#C00096;
    --ligth-pink-color:#FFCDCD;
    --ligth-orange-color:#FFBE9D;
    --ligth-blue-color:#84C4FF;

    /* BACKGROUND_COLOR */
    --white-color:#FFFFFF;

}

