html {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
    color: var(--dark-color--opacity);
    background-color: var(--white-color);

    z-index: -1;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .button{
    padding: 18px 0px;
    display: block;
     
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    
    outline: transparent;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
  }

  .button__secondary{
    width: 175px;
   
    color:var(--blue-color);
    background-color: var(--white-color);
}

.button__secondary:hover{
    color: var(--white-color);
    background-color: var(--red-color);
}

.button__secondary:active{
    color: var(--white-color);
    background-color: var(--red-color);
}

.button__secondary:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px var(--dark-color);
}

.button__secondary--bg{
    width: 164px;

    color:var(--white-color);
    background-color: var(--red-color);
}

.button__secondary--bg:hover{
    color: var(--blue-color);
    background-color: var(--white-color);
}

.button__secondary--bg:active{
    color: var(--blue-color);
    background-color: var(--white-color);
}

.button__secondary--bg:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px var(--dark-color);
}

.button__primary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: var(--white-color);
    background-color: var(--blue-color);
}

.button__primary svg{
    fill: var(--white-color);
}

.button__primary:hover svg{
    fill: var(--blue-color);
}

.button__primary:active{
    color: var(--blue-color);
    background-color: var(--white-color);
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px var(--blue-color);
}

.button__primary:hover{
    background-color: var(--white-color);
    color: var(--blue-color);
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px var(--blue-color);
   
}

.button__primary:focus{
    background-color: var(--white-color);
    color: var(--blue-color);
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px var(--blue-color);
}

.section-title{
    font-family: 'Montserrat',sans-serif;
    font-size: 34px;
    line-height: 44.2px;
    font-weight: 700;
}


