.about{
    padding-bottom: 240px;
    position: relative;
}

.about::before{
    content: url('./../../img/decorate-elements/confetti-big-blue.png');
    position: absolute;
    
    width: 181px;
    height: 167px;
    top: 421px;
    left: 93px;
    right: 0px;
}

.about__wrapper{
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

.about__img{
    position: relative;
    padding-top: 70px;
}

.about__img img{
    display: block;
    
    width: 460px;
    height: 480px;
}

.about__img::before{
    content: '';
    position: absolute;
    
    background-image: url('./../../img/about-music-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    width: 460px;
    height: 480px;
    top: -30px;
    left: -90px;
    right: 0px;
    z-index: -1;
}

.about__music{
    max-width: 570px;
    padding-top: 107px;
}

.section-title{
    margin-bottom: 32px;
}

.about__music-description{
    margin-bottom: 80px;
}

.button__primary--about{
    width: 199px;
}
