.sponsors{
    position: relative;
    padding-bottom: 100px;
}

.sponsors::before{
    content: url('./../../img/decorate-elements/pattern-sponsors-left.png');
    position: absolute;
    
    width: 301px;
    height: 173px;
    top: 62px;
    left: -31px;
}

.sponsors::after{
    content: url('./../../img/decorate-elements/confetti-sponsors-top.png');
    position: absolute;

    top: -93px;
    left: 1649px;
}


.section-title--sponsors{
    text-align: center;
    margin-bottom: 60px;
}

.sponsors__list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 60px 130px;

    margin-bottom: 80px;
}

.sponsors__list::after{
    content: url('./../../img/decorate-elements/confetti-sponsors-bottom.png');
    position: absolute;

    right: -331px;
    bottom: 0px;
}

.button__primary--spons{
    width: 225px;
    margin: 0 auto;
}

