.sponsors{
    position: relative;
    padding-bottom: 100px;
}

.sponsors::before{
    content: url('./../../img/decorate-elements/pattern-sponsors-left.png');
    position: absolute;
    
    width: 301px;
    height: 173px;
    top: 62px;
    left: -31px;

    animation: moving 15s linear infinite alternate;
}

@keyframes moving {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(300px);
    }
    50%{
        transform:translateY(300px) translateX(500px) scale(0.5) rotate(360deg);
    }
    75%{
        transform:translateX(0px) translateY(300px);
    }
}

.sponsors::after{
    content: url('./../../img/decorate-elements/confetti-sponsors-top.png');
    position: absolute;

    top: -93px;
    left: 1649px;

    animation: scale-rotate1 10s infinite linear alternate;
}

@keyframes scale-rotate1{
    from {
         transform: rotate(180deg) scale(0.7); 
        }
    to {
         transform: rotate(-180deg) scale(1);
         }
  }

.section-title--sponsors{
    text-align: center;
    margin-bottom: 60px;
}

.sponsors__list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 60px 130px;

    margin-bottom: 80px;
}

.sponsors__list::after{
    content: url('./../../img/decorate-elements/confetti-sponsors-bottom.png');
    position: absolute;

    right: -331px;
    bottom: 0px;

    animation: scale-rotate2 10s infinite linear alternate;
}

@keyframes scale-rotate2{
    from {
         transform: rotate(-180deg) scale(0.7); 
        }
    to {
         transform: rotate(180deg) scale(1);
         }
  }

.button__primary--spons{
    width: 225px;
    margin: 0 auto;
}

